/* 

master stylesheet i will use everywhere
surprisingly i actually came up with most of these combinations, so don't use my work as your own
thanks :)
-colin daugherty

*/

body {
    background: linear-gradient(210deg, #388b76, #b84086, #40b4b8, #d17c7c, #243b53, #a7a7a7, #cdc7c7, #006859, #d68f6a, #393939, #4b7536);
    background-size: 2200% 2200%;
    -webkit-animation: colorchanger 9s ease infinite;
    -moz-animation: colorchanger 9s ease infinite;
    animation: colorchanger 9s ease infinite;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  *.bodywidth {
    margin-left: auto;
    margin-right: auto;
  }
  
  main {
    margin-left: auto;
    margin-right: auto;
  }
  
  #theReveal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @-webkit-keyframes colorchanger {
      0%{background-position:38% 0%}
      50%{background-position:63% 100%}
      100%{background-position:38% 0%}
  }
  @-moz-keyframes colorchanger {
      0%{background-position:38% 0%}
      50%{background-position:63% 100%}
      100%{background-position:38% 0%}
  }
  @keyframes colorchanger { 
      0%{background-position:38% 0%}
      50%{background-position:63% 100%}
      100%{background-position:38% 0%}
  }