/*

ok so this is gonna be a really crazy hectic stylesheet but imma try and organize it as much as possible
with that being said, idk why you'd steal this but please don't gracias
-colin daugherty

*/

/* 
media queries beginning
major phones first then laptops and all other devices

iphone 5/5s/SE */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

}
/* iphone 6/6s/7 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  
}
/* iphone 6+/6s+/7+ */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 

}
/* samsung note/s7/s7 edge */
@media only screen 
and (min-width : 320px) {

}
/* everything else */
@media all and (orientation: landscape) {
  body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    background: #C3B199;
    text-align: left;
  }

  *.content {
    padding: 0.25%;
  }

  ul.main {

  }
}