/*

ok so this is gonna be a really crazy hectic stylesheet but imma try and organize it as much as possible
with that being said, idk why you'd steal this but please don't gracias
-colin daugherty

*/

body {
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #000000;
}

main {
  background: #C3B199;
}

*.content {
  margin-left: 6.5%;
  margin-right: 5%;
  padding: 0.25%;
}

/* 
media queries beginning
major phones first then laptops and all other devices

iphone 5/5s/SE */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

}
/* iphone 6/6s/7 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  
}
/* iphone 6+/6s+/7+ */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 

}
/* samsung note/s7/s7 edge */
@media only screen 
and (min-width : 320px) {

}
/* everything else */
@media all and (orientation: landscape) {
  body {
    margin-left: auto;
    margin-right: auto;
  }

  main {
    text-align: left;
  }

  ul.main, ul.main li, ul.main li a, ul.main li a:hover, ul.main li a:visited, ul.main li a:link {
    display: inline;
    background: #000000;
    color: #ffffff;
    padding-left: 1.885em;
    padding-top: 100%;
    padding-bottom: 0.45%;
  }

  ul.main {
    color: #000;
    padding-right: 62.65%;
  }

  #delta, #delta a {
    padding: 0em;
    background: transparent;
    position: absolute;
    left: -1.8%;
    top: -1.35%;
  }

  #footer {
    padding: 0.01%;
    background: #000000;
    color: #ffffff;
    text-align: right;
  }
}